
.header-bar{
	height: 100%;
	background-color: $header-bg;
	color: #fff;
	display: flex;
	align-items: center;
	padding : 5px 80px 5px 30px;
	.logo{
		@include icon(70px,24px,'logo');
		width: 70px;
		height: 24px;
		margin-right: 22px;
	}
	.title{
		flex : 1;
		font-size: 16px;
	}
	.user-info-wrap{
		display: flex;
	}
	.el-dropdown-link{
		font-size: 14px;
		color: #fff;
		cursor: pointer;
	}
	.icon-notice{
		position: relative;
		margin : 0 36px;
		cursor: pointer;
		.badges{
			position: absolute;
			left: 60%;
			top: -8px;
			font-size: 12px;
			color: #fff;
			border-radius: 20px;
			min-width: 20px;
			text-align: center;
			padding: 2px 4px;
			background-color: $primary;
		}
	}


}
