.population-aside{
	position: relative;
	height: 100%;
	display: flex;
	border-left: 1px solid $gray;
	.el-tabs{
		flex : 1;
		display: flex;
		flex-direction: column;
	}
	.el-tabs__nav-wrap::after{
		display: none;
	}
	.el-tabs__content{
		flex : 1;
	}
	.el-tab-pane{
		height: 100%;
		display: flex;
		flex-direction: column;
		
	}
	.tab-main{
		flex : 1;
		overflow: auto;
	}
	.el-tabs__nav-scroll{
		background-color: #F5F5F7;
		padding : 0 10px;
	}
	.el-tabs__nav{
		padding : 10px 0;
		
	}
	.tab-oper{
		.el-button-group{
			display: flex;
			border-top: 1px solid $gray;
		}
		.el-button{
			flex : 1;
			&:not(:last-child){
				border-right: 1px solid $gray;
			}
		}
	}
	.label-list{
		padding:0 16px;
		.label-item{
			display: flex;
			align-items: center;
			border-bottom: 1px solid $gray;
			padding : 10px 0;
			margin-bottom: 16px;
		}
		.label-name{
			font-size: 14px;
			color: #333333;
			flex : 1;
		}
		.import-text{
			display: inline-block;
			font-size: 12px;
			color: #2C7CDB;
			margin-left: 10px;
		}
		.el-select{
			width: 100%;
		}
		.el-input__inner{
			border : none;
			padding: 0;
			height: auto;
		}

	}
	.user-option-select{
		padding : 0 16px;
		.user-select-item{
			display: flex;
			align-items: center;
			padding : 16px 10px;
			background-color: #f7f7f7;
			margin : 16px 0;
			font-size: 14px;
		}
		.select-label{
			color: #666;
		}
		.el-icon-error{
			color: #798D9B;
			cursor: pointer;
		}
		.select-label{
			flex : 1;
			margin : 0 10px;

		}
		.el-select{
			width: 140px;
		}
		.el-input__inner{
			height: 30px;
		}
	}
	.add-select-item{
		cursor: pointer;
		margin-left: 16px;
		width: 42px;
		height: 42px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 20px;
		border: 1px solid #DCDFE6;
		color: #798D9B;
		margin-bottom: 16px;
	}
	.date-wrap{
		margin-top: 28px;
		padding: 0 16px;
		.el-date-editor{
			width: 100%;
		}
	}
	.date-desc{
		display: flex;
		font-size: 14px;
		color: #798D9B;
		padding : 0 16px;
		margin-top: 28px;
		span{
			display: inline-block;
			margin-right: 4px;
			color: #DC3F36;
			font-weight: bold;
		}
	}
	.textarea-wrap{
		position: relative;
		padding : 16px;
		.el-textarea{
			padding-bottom: 20px;
		}
		.limit-text-wrap{
			position: absolute;
			right: 20px;
			bottom: 40px;
			font-size: 14px;
			color: #666666;
		}
	}
	.desc-list{
		li{
			padding:0 10px 0 40px;
			position: relative;
			&:after{
				position: absolute;
				left: 24px;
				top: 50%;
				margin-top: -3px;
				content : '';
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background-color: $gray;
			}
		}
	}
}

.population-layer{
	position: absolute;
	left: -100%;
	top: 0;
	width: 100%;
	height: 100%;
	border-left : 1px solid $gray;
	border-right : 1px solid $gray;
	display: flex;
	flex-direction: column;
	.layer-title{
		display: flex;
		background-color: #F5F5F7;
		padding: 19px;
		border-bottom : 1px solid $gray;
		border-right : 1px solid $gray;
		h4{
			flex : 1;
			font-size: 16px;
			color: #333333;
		}
		.el-icon-close{
			cursor: pointer;
		}
	}
	.layer-content{
		flex : 1;
		overflow: auto;
		background-color: #fff;
	}
	.checkbox-list{
		padding: 0 14px;

	}
	.checkbox-item{

	}
	.el-checkbox-group{
		padding-bottom: 10px;
	}
	.checkbox-title{
		font-size: 16px;
		color: #666;
		padding: 20px 0 20px 0;
	}
	.el-checkbox{
		width: 50%;
		margin: 5px 0 5px 0;
	}
}
