.population-header{
	height: 100%;
	display: flex;
	align-items: center;
	border-bottom: 1px solid $gray;
	padding : 0 30px;
	.icon-back{
		cursor: pointer;
	}
	.population-title{
		font-size: 18px;
		color: #333;
		flex : 1;
		margin : 0 10px;
	}
	[class^=icon-]{
		vertical-align: middle;
    	display: inline-block;
	}
	.population-menus{
		display: flex;
		.population-btn{
			cursor: pointer;
			padding : 4px 10px;
			&:hover{
				background-color: $gray;
			}
		}
		.menu-text{
			display: inline-block;
			vertical-align: middle;
			font-size: 14px;
			color: #666;
		}
	}
	

}