.sidebar-wrap{
	height: 100%;
	background-color: #F5F7FA;
	.sidebar-name{
		background-color: #D9DFE5;
		font-size: 16px;
		color: #333;
		padding: 20px;
		font-weight: bold;
	}
	.el-menu{
		border-right: none;
	}
	.el-menu-item{
		position: relative;
		[class^=icon-]{
			margin-right: 5px;
		}
		[class$=-active]{
			display: none;
		}
		&.is-active{
			color : #2C7CDB !important;
			background-color: #fff !important;
			// .el-icon-arrow-right{
			// 	display: none;
			// }
			[class^=icon-]{
				display: none;
			}
			[class$=-active]{
				display: inline-block;
			}

		}
		&:hover{
			background-color: #f1f1f1 !important;
		}
		.el-icon-arrow-right{
			position: absolute;
			right: 16px;
			top: 20px;
		}
	}
}